# Optional: defaults to machine hostname
# NODE_NAME=gpu-node-1

HOST=0.0.0.0

# Optional: defaults to best-effort local IP
# ADVERTISE_HOST=192.168.1.10

PORT=9000

CONSUL_HTTP_ADDR=http://localhost:47528
